/* RESPONSIVE MOVIL */

@media screen and (min-width: 320px) and (max-width: 768px) {

    /* DIAPOSITIVA 1 - INTRO*/

    .pagina_principal_1 {
        background-color: #233DF9;
        padding: 25px 20px 70px 20px;
    }

    #titulo_1 {
        font-family: 'Spartan', sans-serif;
        color: white;
        padding-bottom: 5px;
        width: 70%;
    }

    .logo_white{
        height: 50px;
        float: right;
    }

    #descripcion_1 {
        font-family: 'Titillium Web', sans-serif;
        color: white;
    }

    .hexagonos{
        display: flex;
        justify-content: center;
    }

    .hexagono{
        position: relative;
        display: block;
        background-color: #28AFFA;
        width: 80px;
        height: 45px;
        margin: 15px 5px;
    }

    .hexagono::after{
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        width: inherit;
        height: inherit;
        transform: rotate(60deg);
        background-color: inherit;
    }

    .hexagono::before{
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        width: inherit;
        height: inherit;
        transform: rotate(-60deg);
        background-color: inherit;
    } 

    .hexagono-content{
        position: absolute;
        z-index: 1000;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50%;
        transform: translate(0%, -50%);
        transform-origin: 0% 50%;
        transition: .75s;
        padding: 5px;
        text-align: center;
        font-weight: bold;
        line-height: 15px;
        color: #fff;
        font-family: 'Titillium Web', sans-serif;
        font-weight: normal;
        font-size: 12px;
    }

    .btn_demo {
        float: right;
        font-family: 'Titillium Web', sans-serif;
        color: white;
        background-color: rgb(0, 200, 83);
        padding: 3px 8px;
        margin-top: 25px; 
        font-size: 12px;
    }
    
    /* DIAPOSITIVA 2 - INTRODUCION */

    .pagina_principal_2{
        padding: 30px 20px 10px 20px;
        background-color: #EBEAED;
    }
    
    #titulo_2 {
        color: #233DF9;
        font-family: 'Spartan', sans-serif;
    }
    
    #descripcion_2 {
        font-family: 'Titillium Web', sans-serif;
        padding: 5px 0px;
        margin: 25px 0px 15px 0px;
    }
    
    .hacker{
        display: block;
        margin: auto;
        height: 260px;
        padding-bottom: 25px;
    }

    .logo_black{
        display: block;
        margin: auto;
        height: 50px;
    }

    /* DIAPOSITIVA 3 - CARACTERISTICAS */

    .pagina_principal_3 {
        background-color: #233DF9;
        padding: 30px 20px 40px 20px;
    }
    
    #titulo_3 {
        font-family: 'Spartan', sans-serif;
        color: white;
        text-align: center;
    }
    
    #descripcion_3 {
        font-family: 'Titillium Web', sans-serif;
        color: white;
        text-align: center;
        padding: 20px 0px;
    }
    
    .grupo-hexagonos{
        display: flex;
    }

    /* DIAPOSITIVA 4 - EXPLICACION */

    #titulo_4 {
        color: #233DF9;
        font-family: 'Spartan', sans-serif;
        text-align: center;
        padding: 30px 20px 10px 20px;
    }
    
    .accordion {
        padding: 10px 15px 25px 15px ;
    }
    
    .accordion-button:focus {
        z-index: 3;
        border-color: #EBEAED;
        outline: 0;
        box-shadow: #EBEAED;
    }
    .accordion-button {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem 1.25rem;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        background-color: #EBEAED;
        border: 0;
        border-radius: 0;
        overflow-anchor: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
    }
    
    .accordion-button:not(.collapsed) {
        color: white; 
        background-color:rgb(68, 68, 68);
    }
    .accordeon-body {
        padding: 1rem 1.25rem;
        background-color: #EBEAED;
    }

    /* DIAPOSITIVA 5 - PRECIOS */

    .pagina_principal_5{
        background-color: #233DF9;
        padding: 35px 10px 25px 20px;
    } 
    
    #titulo_5{
        font-family: 'Spartan', sans-serif;
        text-align: center;
        color: white;
        padding-bottom: 15px;
    }
    
    .list-group-item{
        background-color: #EBEAED;
    }
    
    .titulo-lista{
        font-weight: bolder;
    }
    
    .bi-check{
        color: rgb(78, 182, 122);
        padding-right: 5px;
    }
    
    .bi-x-circle{
        color: red;
        padding-right: 2px;
    }
    
    .precio_lista{
        color: #233DF9;
        font-size: 20px;
    }
    
    #subtitulo_5{
      color: #212529;
      font-size: 12px;
    }
    
    .btn-comprar {
        display: block;
        margin: auto;
        padding: 10px;
        background-color: rgb(0, 200, 83);
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-weight: bolder;
        font-size: 13px;
    }

    /* DIAPOSITIAV 6 - CONFIANZA*/

    .pagina_principal_6{
        padding-bottom: 40px;
        background-color: black;
        text-align: center;
    }
    
    #titulo_6{
        color: #233DF9;
        padding: 30px 5px;
        font-family: 'Spartan', sans-serif;
    }
    
    #descripcion_6{
        color: white;
        font-family: 'Titillium Web', sans-serif;
        padding: 20px;
    }
    
    .hornetsecurity{
        height: 150px;
        width: auto;
    }

    /* DIAPOSITIVA 7 - BLOG*/

    /* DIAPOSITIVA 8 - CONTACTO */

    .mauticform_wrapper {
        max-width: 600px;
        margin: 10px auto;
    }
    
    .mauticform-name {
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 3px;
    }

    .mauticform-description {
        margin-top: 2px;
        margin-bottom: 10px;
    }

    .mauticform-error {
        margin-bottom: 10px;
        color: red;
    }

    .mauticform-message {
        margin-bottom: 10px;
        color: green;
    }

    .mauticform-row {
        display: block;
        margin-bottom: 20px;
    }

    .mauticform-label {
        font-size: 1.1em;
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .mauticform-row.mauticform-required .mauticform-label:after {
        color: #e32;
        content: " *";
        display: inline;
    }

    .mauticform-helpmessage {
        display: block;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    .mauticform-errormsg {
        display: block;
        color: red;
        margin-top: 2px;
    }

    .mauticform-selectbox,
    .mauticform-input,
    .mauticform-textarea {
        width: 100%;
        padding: 0.5em 0.5em;
        border: 1px solid #CCC;
        background: #fff;
        box-shadow: 0px 0px 0px #fff inset;
        border-radius: 4px;
        box-sizing: border-box;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .mauticform-checkboxgrp-label {
        font-weight: normal;
    }

    .mauticform-radiogrp-label {
        font-weight: normal;
    }

    .mauticform-button-wrapper .mauticform-button.btn-default,
    .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default {
        color: #5d6c7c;
        background-color: #ffffff;
        border-color: #dddddd;
    }

    .mauticform-button-wrapper .mauticform-button,
    .mauticform-pagebreak-wrapper .mauticform-pagebreak {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 600;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 13px;
        line-height: 1.3856;
        border-radius: 3px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .mauticform-button-wrapper .mauticform-button.btn-default[disabled],
    .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default[disabled] {
        background-color: #ffffff;
        border-color: #dddddd;
        opacity: 0.75;
        cursor: not-allowed;
    }

    .mauticform-pagebreak-wrapper .mauticform-button-wrapper {
        display: inline;
    }

    #mauticform_input_contactosmailshied_submit {
        font-family: 'Titillium Web', sans-serif;
        color: white;
        font-weight: bold;
        background-color: rgb(0, 200, 83);
    }

    .pagina_principal_8{
        padding: 30px 20px;
        background-color: #EBEAED;
    }
    
    #titulo_8 {
        color: #233DF9;
        font-family: 'Spartan', sans-serif;
        text-align: center;
        padding-bottom: 20px;
    }
    
    .formulario {
        color: #233DF9;
        font-family: 'Titillium Web', sans-serif;
    }
    
    ::placeholder{
        color: #233DF9;
        padding-left: 10px;
    }

}

/* RESPONSE TABLET */

@media screen and (min-width: 768px) and (max-width: 1200px) {
    
    .pagina_principal_1 {
        background-color: #233DF9;
        padding: 30px 30px 90px 30px;
    }

    #titulo_1 {
        font-family: 'Spartan', sans-serif;
        color: white;
        padding-bottom: 5px;
        width: 80%;
    }
    
    .logo_white{
        height: 60px;
        float: right;
    }
    
    #descripcion_1 {
        font-family: 'Titillium Web', sans-serif;
        width: auto;
        color: white;
        padding-bottom: 10px;
    }

    .hexagonos{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .hexagono{
        position: relative;
        display: block;
        background-color: #28AFFA;
        width: 140px;
        height: 80px;
        margin: 30px 10px;
    }  
    
    .hexagono::after{
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        width: inherit;
        height: inherit;
        transform: rotate(60deg);
        background-color: inherit;
    }
    
    .hexagono::before{
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        width: inherit;
        height: inherit;
        transform: rotate(-60deg);
        background-color: inherit;
    }
      
    .hexagono-content{
        position: absolute;
        z-index: 1000;
        width: 90%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50%;
        transform: translate(0%, -50%);
        transform-origin: 0% 50%;
        transition: .75s;
        text-align: center;
        font-weight: bold;
        line-height: 25px;
        color: #fff;
        font-family: 'Titillium Web', sans-serif;
        font-weight: normal;
        font-size: 1rem;
    }
    
    .btn_demo {
        float: right;
        font-family: 'Titillium Web', sans-serif;
        color: white;
        background-color: rgb(0, 200, 83);
        padding: 5px 20px;
        margin-top: 30px;   
    }

    /* DIAPOTIVA 2 - */

    .pagina_principal_2{
        padding: 50px 30px 25px 30px;
        background-color: #EBEAED;
    }
    
    #titulo_2 {
        color: #233DF9;
        font-family: 'Spartan', sans-serif;
    }
    
    /* #descripcion_2 {
        width: 50%;
        /* font-family: 'Titillium Web', sans-serif;
        padding: 20px 0px;
    } */

    #descripcion_2{
        width: 50%;
        background: #212529;
    }
    
    .logo_black{
        display: block;
        margin: auto;
        padding-top: 5px;
        height: 70px;
    }

    .hacker{
        display: block;
        float: right;
        height: 360px;
    }

    /* DIAPOSITIVA 3 -  */

    .pagina_principal_3 {
        background-color: #233DF9;
        padding: 30px 35px;
    }
    
    #titulo_3 {
        font-family: 'Spartan', sans-serif;
        color: white;
        text-align: center;
    }
    
    #descripcion_3 {
        font-family: 'Titillium Web', sans-serif;
        color: white;
        text-align: center;
        padding: 15px 0px;
    }
    
    .grupo-hexagonos{
        display: flex;
    }

    #titulo_4 {
        color: #233DF9;
        font-family: 'Spartan', sans-serif;
        text-align: center;
        padding: 40px 30px 0px 30px;
    }
    
    .accordion {
        padding: 20px;
    }
    
    .accordion-button:focus {
        z-index: 3;
        border-color: #EBEAED;
        outline: 0;
        box-shadow: #EBEAED;
    }
    .accordion-button {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem 1.25rem;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        background-color: #EBEAED;
        border: 0;
        border-radius: 0;
        overflow-anchor: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
    }
    
    .accordion-button:not(.collapsed) {
        color: white; 
        background-color:rgb(68, 68, 68);
    }
    .accordeon-body {
        padding: 1rem 1.25rem;
        background-color: #EBEAED;
    }

    .pagina_principal_5{
        background-color: #233DF9;
        padding: 35px 15px 25px 20px;
    } 
    
    #titulo_5{
        font-family: 'Spartan', sans-serif;
        text-align: center;
        color: white;
        padding-bottom: 15px;
    }
    
    .list-group-item{
        background-color: #EBEAED;
    }
    
    .titulo-lista{
        font-weight: bolder;
    }
    
    .bi-check{
        color: rgb(78, 182, 122);
        padding-right: 5px;
    }
    
    .bi-x-circle{
        color: red;
        padding-right: 2px;
    }
    
    .precio_lista{
        color: #233DF9;
        font-size: 20px;
    }
    
    #subtitulo_5{
      color: #212529;
      font-size: 12px;
    }
    
    .btn-comprar {
        display: block;
        margin: auto;
        padding: 10px;
        background-color: rgb(0, 200, 83);
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-weight: bolder;
        font-size: 13px;
    }

    .pagina_principal_6{
        padding: 40px 35px;
        background-color: black;
        text-align: center;
    }
    
    #titulo_6{
        color: #233DF9;
        padding-bottom: 20px;
        font-family: 'Spartan', sans-serif;
    }
    
    #descripcion_6{
        color: white;
        font-family: 'Titillium Web', sans-serif;
        padding-bottom: 20px;
    }

    .hornetsecurity{
        height: 250px;
        width: auto;
    }

    /* DIAPOSITIVA 7 - BLOG */

    /* DIAPOSITIVA 8 */

    .mauticform_wrapper {
        max-width: 600px;
        margin: 10px auto;
    }
    
    .mauticform-name {
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 3px;
    }

    .mauticform-description {
        margin-top: 2px;
        margin-bottom: 10px;
    }

    .mauticform-error {
        margin-bottom: 10px;
        color: red;
    }

    .mauticform-message {
        margin-bottom: 10px;
        color: green;
    }

    .mauticform-row {
        display: block;
        margin-bottom: 20px;
    }

    .mauticform-label {
        font-size: 1.1em;
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .mauticform-row.mauticform-required .mauticform-label:after {
        color: #e32;
        content: " *";
        display: inline;
    }

    .mauticform-helpmessage {
        display: block;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    .mauticform-errormsg {
        display: block;
        color: red;
        margin-top: 2px;
    }

    .mauticform-selectbox,
    .mauticform-input,
    .mauticform-textarea {
        width: 100%;
        padding: 0.5em 0.5em;
        border: 1px solid #CCC;
        background: #fff;
        box-shadow: 0px 0px 0px #fff inset;
        border-radius: 4px;
        box-sizing: border-box;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .mauticform-checkboxgrp-label {
        font-weight: normal;
    }

    .mauticform-radiogrp-label {
        font-weight: normal;
    }

    .mauticform-button-wrapper .mauticform-button.btn-default,
    .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default {
        color: #5d6c7c;
        background-color: #ffffff;
        border-color: #dddddd;
    }

    .mauticform-button-wrapper .mauticform-button,
    .mauticform-pagebreak-wrapper .mauticform-pagebreak {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 600;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 13px;
        line-height: 1.3856;
        border-radius: 3px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .mauticform-button-wrapper .mauticform-button.btn-default[disabled],
    .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default[disabled] {
        background-color: #ffffff;
        border-color: #dddddd;
        opacity: 0.75;
        cursor: not-allowed;
    }

    .mauticform-pagebreak-wrapper .mauticform-button-wrapper {
        display: inline;
    }

    #mauticform_input_contactosmailshied_submit {
        font-family: 'Titillium Web', sans-serif;
        color: white;
        font-weight: bold;
        background-color: rgb(0, 200, 83);
    }

    .pagina_principal_8{
        padding: 30px 20px;
        background-color: #EBEAED;
    }
    
    #titulo_8 {
        color: #233DF9;
        font-family: 'Spartan', sans-serif;
        text-align: center;
        padding-bottom: 20px;
    }
    
    .formulario {
        color: #233DF9;
        font-family: 'Titillium Web', sans-serif;
    }
    
    ::placeholder{
        color: #233DF9;
        padding-left: 10px;
    }

}

/*  RESPONSE ORDENADORES Y PLANTALLAS GRANDES */

@media screen and (min-width: 1200px) and (max-width: 2560px) { /* 2560 × 2560 */
    
    .pagina_principal_1 {
        background-color: #233DF9;
        padding: 60px 35px;
    }

    #titulo_1 {
        font-family: 'Spartan', sans-serif;
        color: white;
        padding-bottom: 5px;
        width: 60%;
    }

    .logo_white{
        height: 70px;
        float: right;
    }

    #descripcion_1 {
        font-family: 'Titillium Web', sans-serif;
        width:auto;
        color: white;
    }

    .hexagonos{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hexagono{
        position: relative;
        display: block;
        background-color: #28AFFA;
        width: 140px;
        height: 80px;
        margin: 40px 10px;
    }  

    .hexagono::after{
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        width: inherit;
        height: inherit;
        transform: rotate(60deg);
        background-color: inherit;
    }

    .hexagono::before{
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        width: inherit;
        height: inherit;
        transform: rotate(-60deg);
        background-color: inherit;
    }
    
    .hexagono-content{
        position: absolute;
        z-index: 1000;
        width: 90%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50%;
        transform: translate(0%, -50%);
        transform-origin: 0% 50%;
        transition: .75s;
        text-align: center;
        font-weight: bold;
        line-height: 25px;
        color: #fff;
        font-family: 'Titillium Web', sans-serif;
        font-weight: normal;
        font-size: 1rem;
    }

    .btn_demo {
        float: right;
        font-family: 'Titillium Web', sans-serif;
        color: white;
        background-color: rgb(0, 200, 83);
        padding: 5px 20px;   
    }

    /* DIAPOSITIVA 2 */

    .pagina_principal_2{
        padding: 60px 35px;
        background-color: #EBEAED;
    }

    #titulo_2 {
        color: #233DF9;
        font-family: 'Spartan', sans-serif;
    }

    #descripcion_2 {
        font-family: 'Titillium Web', sans-serif;
        padding: 20px 0px;
    }

    .logo_black{
        display: block;
        margin: auto;
        height: 70px;
        float: left;
    }

    .hacker{
        display: block;
        margin: auto;
        float: right;
        height: 260px;
        padding-bottom: 25px;
    }

    /* DIAPOSITIVA 3 -  */
    
    .pagina_principal_3 {
        background-color: #233DF9;
        padding: 30px 35px;
    }

    #titulo_3 {
        font-family: 'Spartan', sans-serif;
        color: white;
        text-align: center;
    }

    #descripcion_3 {
        font-family: 'Titillium Web', sans-serif;
        color: white;
        text-align: center;
        padding: 20px 0px
    }

    .grupo-hexagonos{
        display: flex;
    }

    /* DIAPOSITOVA 4 */

    #titulo_4 {
        color: #233DF9;
        font-family: 'Spartan', sans-serif;
        text-align: center;
        padding: 60px 35px 25px 35px;
    }

    .accordion {
        padding: 25px 15px;
    }

    .accordion-button:focus {
        z-index: 3;
        border-color: #EBEAED;
        outline: 0;
        box-shadow: #EBEAED;
    }
    .accordion-button {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 1rem 1.25rem;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        background-color: #EBEAED;
        border: 0;
        border-radius: 0;
        overflow-anchor: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
    }

    .accordion-button:not(.collapsed) {
        color: white; 
        background-color:rgb(68, 68, 68);
    }
    .accordeon-body {
        padding: 1rem 1.25rem;
        background-color: #EBEAED;
    }

    /* DIAPOSITIVA 5 -  */

    .pagina_principal_5{
        background-color: #233DF9;
        padding: 35px 35px 25px 35px;
    } 

    #titulo_5{
        font-family: 'Spartan', sans-serif;
        text-align: center;
        color: white;
        padding-bottom: 15px;
    }

    .list-group-item{
        background-color: #EBEAED;
    }

    .titulo-lista{
        font-weight: bolder;
    }

    .bi-check{
        color: rgb(78, 182, 122);
        padding-right: 5px;
    }

    .bi-x-circle{
        color: red;
        padding-right: 2px;
    }

    .precio_lista{
        color: #233DF9;
        font-size: 20px;
    }

    #subtitulo_5{
      color: #212529;
      font-size: 12px;
    }

    .btn-comprar {
        display: block;
        margin: auto;
        padding: 10px 15px;
        background-color: rgb(0, 200, 83);
        color: white;
        font-family: 'Titillium Web', sans-serif;
        font-weight: bolder;
        font-size: 15px;
    }

    /* DIAPOSIVA 6 -  */

    .pagina_principal_6{
        padding: 60px 35px;
        background-color: black;
        text-align: center;
    }

    #titulo_6{
        color: #233DF9;
        padding-bottom: 20px;
        font-family: 'Spartan', sans-serif;
    }

    #descripcion_6{
        color: white;
        font-family: 'Titillium Web', sans-serif;
        padding-bottom: 20px;
    }

    .hornetsecurity{
        display: block;
        margin: auto;
        height: 200px;
    }


    /* DIAPOSITOVA 7 - BLOG */

    .pagina_principal_7{
        background-color: #233DF9;
        padding-bottom: 40px;
    }

    #titulo_7{
        color: white;
        font-family: 'Spartan', sans-serif;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 30px;
        
    }
    .fondo{
        background-color: #EBEAED;
        border-radius: 25px;
        padding-bottom: 15px;
    }
    #img-blog {
        width: 100%;
        border-radius: 25px;
    } 

    h3{
        padding: 10px;
        font-family: 'Spartan', sans-serif;
    }

    #info-blog {
        padding: 0px 10px;
        font-size: 13px;
        margin-bottom: none;
        font-family: 'Titillium Web', sans-serif;
    }

    #leer-mas {
        padding: 0px 5px 5px 10px;
        font-size: 13px;
        color: rgb(0, 200, 83);
        text-decoration: none;
        font-size: 10px;
    }
    
    .desplegar {
        display: block;
        margin: 30px auto;
        padding: 9px 24px 7px;
        font-weight: 900;
        color: #C00;
        outline-color: #C00;
        border: 1px solid #C00;
        background: #FFF;
    } 

    /*  DIAPOSITIVA 8 - CONTACTANOS */    

    .mauticform_wrapper {
        max-width: 600px;
        margin: 10px auto;
    }
    
    .mauticform-name {
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 3px;
    }

    .mauticform-description {
        margin-top: 2px;
        margin-bottom: 10px;
    }

    .mauticform-error {
        margin-bottom: 10px;
        color: red;
    }

    .mauticform-message {
        margin-bottom: 10px;
        color: green;
    }

    .mauticform-row {
        display: block;
        margin-bottom: 20px;
    }

    .mauticform-label {
        font-size: 1.1em;
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .mauticform-row.mauticform-required .mauticform-label:after {
        color: #e32;
        content: " *";
        display: inline;
    }

    .mauticform-helpmessage {
        display: block;
        font-size: 0.9em;
        margin-bottom: 3px;
    }

    .mauticform-errormsg {
        display: block;
        color: red;
        margin-top: 2px;
    }

    .mauticform-selectbox,
    .mauticform-input,
    .mauticform-textarea {
        width: 100%;
        padding: 0.5em 0.5em;
        border: 1px solid #CCC;
        background: #fff;
        box-shadow: 0px 0px 0px #fff inset;
        border-radius: 4px;
        box-sizing: border-box;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .mauticform-checkboxgrp-label {
        font-weight: normal;
    }

    .mauticform-radiogrp-label {
        font-weight: normal;
    }

    .mauticform-button-wrapper .mauticform-button.btn-default,
    .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default {
        color: #5d6c7c;
        background-color: #ffffff;
        border-color: #dddddd;
    }

    .mauticform-button-wrapper .mauticform-button,
    .mauticform-pagebreak-wrapper .mauticform-pagebreak {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 600;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 13px;
        line-height: 1.3856;
        border-radius: 3px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .mauticform-button-wrapper .mauticform-button.btn-default[disabled],
    .mauticform-pagebreak-wrapper .mauticform-pagebreak.btn-default[disabled] {
        background-color: #ffffff;
        border-color: #dddddd;
        opacity: 0.75;
        cursor: not-allowed;
    }

    .mauticform-pagebreak-wrapper .mauticform-button-wrapper {
        display: inline;
    }

    #mauticform_input_contactosmailshied_submit {
        font-family: 'Titillium Web', sans-serif;
        color: white;
        font-weight: bold;
        background-color: rgb(0, 200, 83);
    }

    .pagina_principal_8{
        padding: 30px 20px;
        background-color: #EBEAED;
    }
    
    #titulo_8 {
        color: #233DF9;
        font-family: 'Spartan', sans-serif;
        text-align: center;
        padding-bottom: 20px;
    }
    
    .formulario {
        color: #233DF9;
        font-family: 'Titillium Web', sans-serif;
    }
    
    ::placeholder{
        color: #233DF9;
        padding-left: 10px;
    }

}

